/*!
.colores tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#3d567c',
            secondary: '#000000',
            accent: '#1c0f41ff',
            white: "#ffffff",
          }
        }
      }
    }
 NO SUPE DONDE PONERLO NI COMO SACARLO APARTE PERDON!!!!!
 